.container {
  height: 100vh;
  width: 100vw;
  min-width: 780px;

  padding: 40px 160px;

  color: rgb(201, 209, 217);
  background-color: rgb(13, 17, 23);
}

.report {
  width: 100%;
}

.report--button {
  display: block;
  margin: auto;
}