:root {
  --primary-color:rgb(33, 38, 45);
  --accent-color:rgb(48, 54, 61);
  --text-color:rgb(201, 209, 217);
  --backgroud-color: rgb(13, 17, 23);
}

.container {
  min-height: 100vh;
  width: 100vw;
  min-width: 780px;

  padding: 40px 160px;

  color: var(--text-color);
  background-color: var(--backgroud-color);
}

.report {
  width: 100%;

  margin-top: 4rem;

  text-align: center;
}

.report--notice {
  display: block;

  width: 100%;
  margin: 1rem 0;
}

.report--button__abled {
  border: 1px solid rgb(48, 54, 61);
  border-radius: 8px;
  outline: none;

  height: 2.5rem;
  width: 10rem;
  
  font-size: 1.1rem;
  font-weight: bold;

  color: rgb(201, 209, 217);
  background-color: rgb(33, 38, 45);

  cursor: pointer;
}

.report--button__disabled {
  border: 1px solid rgb(48, 54, 61);
  border-radius: 8px;
  outline: none;

  height: 2.5rem;
  width: 10rem;
  
  font-size: 1.1rem;
  font-weight: bold;

  color: rgb(75, 75, 75);
  background-color: rgb(139, 139, 139);

  cursor: wait;
  pointer-events: none;
}


.app-table {
  width: 100%;

  border-collapse: collapse;
}

.app-table, .app-table--head, .app-table--body__even, .app-table--body__odd {
  border: 2px solid var(--accent-color);
}

.app-table--head, 
.app-table--body__even, 
.app-table--body__odd {
  padding: .5rem;
}

.app-table--head {
  height: 2.5rem;

  background-color: var(--primary-color);
}

.app-table--body__even, 
.app-table--body__odd {
  height: 1.25rem;
}

.app-table--body__even {
  
} 

.app-table--body__odd {
  background-color: var(--primary-color);
}

.app-table--transaction-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-table--flag,
.app-table--flag__in,
.app-table--flag__out {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;

  height: 1.25rem;
  width: 2.25rem;

  margin: 0 auto;

  font-size: 0.8rem;
  font-weight: bold;
}

.app-table--flag__in {
  background-color: rgb(40, 167, 69);
}

.app-table--flag__out {
  background-color: rgb(215, 58, 73)
}

.app-table--amount__in, 
.app-table--amount__out  {
  display: inline-block;
}

.app-table--amount__in {
  color: rgb(40, 167, 69);
}

.app-table--amount__out {
  color: rgb(215, 58, 73)
}